.vscode
.vs
bin
Debug
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
include/general/platform.h
include/general/kbhit.h
src/general/kbhit.c
rec_feed.txt
src/win_udp.c
include/win_udp.h
include/general/rec_ip.h