.vscode
.vs
bin
Debug
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
include/general/platform.h
include/general/kbhit.h
include/general/variable_params.h
include/win_udp.h
src/general/kbhit.c
src/win_udp.c
feed.*
rec_feed.*